
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="base :: header">
    <title>Kassos-Net | TP DE POO</title>
    </head>

    <body class="color-theme-blue mont-font">
        <div class="preloader"></div>


        <div class="main-wrapper">
            <!--- PARTIE DE LA BARRE DE NAVIGATION ET DU MENU COMMUN-->
            <div th:replace="base :: top"></div>

            <div th:replace="base :: left"></div>  
        
        
        <!-- main content -->
        <div class="main-content bg-lightblue theme-dark-bg right-chat-active">
            
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left">
                    <div class="middle-wrap">
                        <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
                            <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
                                <a href="default-settings.html" class="d-inline-block mt-2"><i class="ti-arrow-left font-sm text-white"></i></a>
                                <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">Détails sur le compte</h4>
                            </div>
                            <div class="card-body p-lg-5 p-4 w-100 border-0 ">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 text-center">
                                    <figure class="avatar ms-auto me-auto mb-0 mt-2 w100"><img th:src="@{/image_user/{fileName}(fileName=${CurrentUser.photo})}" id="img" alt="image" class="shadow-sm rounded-3 w-100"></figure>
                                    <h2 class="fw-700 font-sm text-grey-900 mt-3" th:text="|Votre Compte ${CurrentUser.nom}|">FOX</h2>
                                    <h4 class="text-grey-500 fw-500 mb-3 font-xsss mb-4" th:text="|Votre Compte ${CurrentUser.email}|">donfackarthur750@gmail.com</h4>    
                                    <!-- <a href="#" class="p-3 alert-primary text-primary font-xsss fw-500 mt-2 rounded-3">Upload New Photo</a> -->
                                </div>
                            </div>

                                <form action="/Utilisateur/Modifier" method="post" th:object="${CurrentUser}" enctype="multipart/form-data" id="formulaireModif">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Pseudo</label>
                                            <input type="text" name="pseudo" class="form-control" th:field="*{pseudo}" th:value="${CurrentUser.pseudo}">
                                        </div>        
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Nom</label>
                                            <input type="text"name="nom" class="form-control" th:field="*{nom}" th:value="${CurrentUser.nom}">
                                        </div>        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Email</label>
                                            <input type="email" name="email" class="form-control" th:field="*{email}" th:value="${CurrentUser.email}">
                                        </div>        
                                    </div>

                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Téléphone</label>
                                            <input type="text" name="telephone" class="form-control" th:field="*{telephone}" th:value="${CurrentUser.telephone}">
                                        </div>        
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <div class="form-group">
                                            <label class="mont-font fw-600 font-xsss">Ville</label>
                                            <input type="text" name="ville" class="form-control" th:field="*{ville}" th:value="${CurrentUser.ville}">
                                        </div>        
                                    </div>

                                    

                                    <div class="col-lg-12 mb-3">
                                        <div class="card mt-3 border-0">
                                            <div class="card-body d-flex justify-content-between align-items-end p-0">
                                                <div class="form-group mb-0 w-100">
                                                    <input type="file" name="photoUser" id="file" accept="image/png, image/jpeg,image/bmp"  class="input-file">
                                                    <label for="file" class="rounded-3 text-center bg-white btn-tertiary js-labelFile p-4 w-100 border-dashed">
                                                    <i class="ti-cloud-down large-icon me-3 d-block"></i>
                                                    <span class="js-fileName">Glissez et Déposez, Cliquez Pour remplacer</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mb-3">
                                        <label class="mont-font fw-600 font-xsss">Un Mot sur Vous</label>
                                        <textarea name="description" class="form-control mb-0 p-3 h100 bg-greylight lh-16" th:field="*{description}" th:value="${CurrentUser.description}" rows="5" placeholder="Write your message..." spellcheck="false"></textarea>
                                    </div>
                                   
                                    <div class="col-lg-12">
                                        <a href="#" class="bg-current text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block" id="save" onclick="soumettre()">Sauvegarder</a>
                                    </div>
                                </div>
                                <script>
                                    function changeImage() {
                                        // Récupère la valeur du champ input
                                        var choosedFile = document.querySelector("#file").files[0];
                                        //var image = document.getElementById("file").value;
                                        // Change l'image
                                        img=document.getElementById("img");

                                        if (choosedFile) {
      
                                            const reader = new FileReader(); //FileReader is a predefined function of JS
                                    
                                            reader.addEventListener('load', function(){
                                                img.setAttribute('src', reader.result);
                                            });
                                    
                                            reader.readAsDataURL(choosedFile);
                                    
                                            //Allright is done
                                    
                                            //please like the video
                                            //comment if have any issue related to vide & also rate my work in comment section
                                    
                                            //And aslo please subscribe for more tutorial like this
                                    
                                            //thanks for watching
                                        }
                                      }
                                      
                                      // Ajoute l'événement change au champ input
                                      document.getElementById("file").addEventListener("change", changeImage);
                                      
                                      formulaire=document.getElementById("formulaireModif");
                                      function soumettre(){
                                          formulaire.submit();
                                      }
                                </script> 
                            </form>
                            </div>
                        </div>
                        <!-- <div class="card w-100 border-0 p-2"></div> -->
                    </div>
                </div>
                 
            </div>            
        </div>
        <!-- main content -->


        
   <!---MENU RESPONSIVE-->
            <div class="app-footer border-0 shadow-lg bg-primary-gradiant">
                <a href="index.html" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
                <a href="parametres.html" class="nav-content-bttn"><img src="images/female-profile.png" alt="user" class="w30 shadow-xss"></a>
            </div>
           <!---BAR DE RECHERCHE RESPONSIVE-->
        <div class="app-header-search">
            <form action="/Articles/Chercher" class="search-form">
                <div class="form-group searchbox mb-0 border-0 p-1">
                    <input type="text" name="sujet"  class="form-control border-0" placeholder="Rechercher...">
                    <i class="input-icon">
                        <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
                    </i>
                    <a href="#" class="ms-1 mt-1 d-inline-block close searchbox-close">
                        <i class="ti-close font-xs"></i>
                    </a>
                </div>
            </form>
        </div>

    </div>

 <script th:src="@{/js/plugin.js}"></script>
 <script th:src="@{/js/lightbox.js}"></script>
 <script th:src="@{/js/scripts.js}"></script>
    
</body>

</html>