
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="base :: header">
        <title>Kassos-Net | TP DE POO</title>
    </head>

    <body class="color-theme-blue mont-font">
        <div class="preloader"></div>


        <div class="main-wrapper">
            <!--- PARTIE DE LA BARRE DE NAVIGATION ET DU MENU COMMUN-->
            <div th:replace="base :: top"></div>

            <div th:replace="base :: left"></div>  


            <!-- main content -->
            <div class="main-content right-chat-active">

                <div class="middle-sidebar-bottom">
                    <div class="middle-sidebar-left">
                        <!-- loader wrapper -->
                        <div class="preloader-wrap p-3">
                            <div class="box shimmer">
                                <div class="lines">
                                    <div class="line s_shimmer"></div>
                                    <div class="line s_shimmer"></div>
                                    <div class="line s_shimmer"></div>
                                    <div class="line s_shimmer"></div>
                                </div>
                            </div>
                            <div class="box shimmer mb-3">
                                <div class="lines">
                                    <div class="line s_shimmer"></div>
                                    <div class="line s_shimmer"></div>
                                    <div class="line s_shimmer"></div>
                                    <div class="line s_shimmer"></div>
                                </div>
                            </div>
                            <div class="box shimmer">
                                <div class="lines">
                                    <div class="line s_shimmer"></div>
                                    <div class="line s_shimmer"></div>
                                    <div class="line s_shimmer"></div>
                                    <div class="line s_shimmer"></div>
                                </div>
                            </div>
                        </div>
                        <!-- loader wrapper -->
                        <div class="row feed-body">
                            <div class="col-xl-8 col-xxl-9 col-lg-8">

                                <!---BOITE DE POST-->

                                <div class="card w-100 shadow-xss rounded-xxl border-0 ps-4 pt-4 pe-4 pb-3 mb-3">
                                    <h1 th:text="|Modifier l'article :  ' ${article.titre} '| " style="margin-bottom: 15px;">Modifier l'article #####</h1>
                                    <div class="card-body p-0">
                                        <a 
                                            class=" font-xssss fw-600 text-grey-500 card-body p-0 d-flex align-items-center"
                                            id="nom_image"><i
                                                class="btn-round-sm font-xs text-primary feather-edit-3 me-2 bg-greylight"></i>Creer
                                            un Post</a>
                                        <button id="BoutonPost" onclick="document.getElementById('formPoster').submit()" class="BoutonPoster" >Poster</button>
                                    </div>
                                    <form action="/Article/Modifier"  method="post" th:object="${article}" id="formPoster" enctype="multipart/form-data" >
                                        <div class="card-body p-0 mt-3 position-relative">
                                            <figure class="avatar position-absolute ms-2 mt-1 top-5"><img
                                                    th:src="@{/image_user/{fileName}(fileName=${CurrentUser.photo})}" alt="image"
                                                    class="shadow-sm rounded-circle w30"></figure>
                                            <textarea name="titre"
                                                      class="bor-0 w-100 rounded-xxl p-2 ps-5 font-xssss text-grey-500 fw-500 border-light-md theme-dark-bg"
                                                      cols="30" rows="3" placeholder="Donnez un titre..." th:field="*{titre}" style="height: 50px"  th:value="${article.titre}"></textarea>
                                            <textarea name="texte"
                                                      class="h100 bor-0 w-100 rounded-xxl p-2 ps-5 font-xssss text-grey-500 fw-500 border-light-md theme-dark-bg"
                                                      cols="30" rows="10" placeholder="Que voulez-vous dire ?" th:field="*{texte}" th:value="${article.texte}"></textarea>
                                            <input type="file" id="image_post" name="file" hidden="true"
                                                   onchange="nomImg()" accept="image/*" >
                                                <input type="text" name="theme" value=th:value="${article.theme}" hidden="true" id="themeInput" th:field="*{theme}">
                                                    <input type="text" name="utilisateurId"  th:value="${CurrentUser.id}" hidden="true">
                                                        <input type="number" name="utilisateurId"  th:value="${article.id}" th:field="*{id}" hidden="true">
                                                            </div>
                                                            </form>
                                                            <script>
                                                                function imagepic() {
                                                                    document.getElementById("image_post").click();
                                                                }
                                                                function nomImg() {
                                                                    document.getElementById("nom_image").innerText = "image : " + document.getElementById("image_post").value;
                                                                }
                                                                function chooseTheme(id) {
                                                                    choosed = document.getElementById(id);
                                                                    themeInput = document.getElementById("themeInput");
                                                                    if (choosed.innerText == "Aucun") {
                                                                        themeInput.value = "";
                                                                    } else {
                                                                        themeInput.value = choosed.innerText;
                                                                    }

                                                                    alert(themeInput.value);

                                                                }
                                                            </script>
                                                            <div class="card-body d-flex p-0 mt-0">
                                                                <a href="#"
                                                                   class="d-flex align-items-center font-xssss fw-600 ls-1 text-grey-700 text-dark pe-4"><i
                                                                        class="font-md text-success feather-image me-2"
                                                                        onclick="imagepic()"></i><span class="d-none-xs">Photo</span></a>
                                                                <a href="#" class="ms-auto" id="dropdownMenu4" data-bs-toggle="dropdown"
                                                                   aria-expanded="false"><i
                                                                        class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
                                                                <div class="dropdown-menu dropdown-menu-start p-4 rounded-xxl border-0 shadow-lg"
                                                                     aria-labelledby="dropdownMenu4">
                                                                    <div th:each="theme : ${themes}" class="card-body p-0 d-flex"  style="margin-top: 5px; cursor:pointer;">
                                                                        <i class="feather-bookmark text-grey-500 me-3 font-lg"></i>
                                                                        <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4" th:id="|Tag${theme.id}|"
                                                                            onclick="chooseTheme(this.id)" th:text="${theme.libelle}">Aucun</h4>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            </div>


                                                            <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-0">
                                                                <div  class="card-body p-0 d-flex">
                                                                    <figure class="avatar me-3"><img style="width: 45px;height: 45px;" th:src="@{/image_user/{fileName}(fileName=${article.utilisateur.photo})}" alt="image" class="shadow-sm rounded-circle w45"></figure>
                                                                    <h4  class="fw-700 text-grey-900 font-xssss mt-1"><span th:text="|${article.utilisateur.nom}|">Anthony Daugloi</span> <span th:text="|le ${#dates.format(article.date, 'dd-MM-yyyy HH:mm')}|" class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">2 hour ago</span></h4>     


                                                                </div>
                                                                <div class="card-body p-0 me-lg-5">
                                                                    <a th:href="@{/Article/detail/{id}(id=${article.id})}" class="titre"><h4 class="fw-700 text-grey-900" th:text="${article.titre}"></h4></a>
                                                                    <p class="fw-500 text-grey-500 lh-26 font-xssss w-100 mb-2" th:text="${article.texte}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non ni<a href="#" th:href="${article.id}" th:text="See more" class="fw-600 text-primary ms-2"></a></p>
                                                                </div>
                                                                <div class="card-body d-block p-0 mb-3">
                                                                    <div class="row ps-2 pe-2">
                                                                        <div class="col-sm-12 p-1"><a th:href="@{/image/{fileName}(fileName=${article.image})}" data-lightbox="roadtr"><img th:src="@{/image/{fileName}(fileName=${article.image})}" class="rounded-3 w-100" alt="image"></a></div>                                        
                                                                    </div>
                                                                </div>
                                                                <div class="card-body d-flex p-0">
                                                                    <a href="#" th:text="|Score ${article.score}|" class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2"><i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> <i class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>2.8K Like</a>

                                                                    <a href=th:text="${article.id}" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span class="d-none-xss">22 Comment</span></a>
                                                                    <a href=th:text="${article.id}" class="ms-auto d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i class="feather-share-2 text-grey-900 text-dark btn-round-sm font-lg"></i><span class="d-none-xs" th:text="|Score ${article.score}|"></span></a>
                                                                </div>
                                                            </div>


                                                            </div>               

                                                            <!---SUGGESTIONS DE PUBLICATIONS-->

                                                            </div>

                                                            </div>
                                                            </div>

                                                            </div>            
                                                            </div>
                                                            <!-- main content -->


                                                            <!---MENU RESPONSIVE-->
                                                            <div class="app-footer border-0 shadow-lg bg-primary-gradiant">
                                                                <a href="index.html" class="nav-content-bttn nav-center"><i class="feather-home"></i></a>
                                                                <a href="parametres.html" class="nav-content-bttn"><img src="images/female-profile.png" alt="user" class="w30 shadow-xss"></a>
                                                            </div>
                                                            <!---BAR DE RECHERCHE RESPONSIVE-->
                                                            <div class="app-header-search">
                                                                <form action="/Articles/Chercher" class="search-form">
                                                                    <div class="form-group searchbox mb-0 border-0 p-1">
                                                                        <input type="text" name="sujet"  class="form-control border-0" placeholder="Rechercher...">
                                                                            <i class="input-icon">
                                                                                <ion-icon name="search-outline" role="img" class="md hydrated" aria-label="search outline"></ion-icon>
                                                                            </i>
                                                                            <a href="#" class="ms-1 mt-1 d-inline-block close searchbox-close">
                                                                                <i class="ti-close font-xs"></i>
                                                                            </a>
                                                                    </div>
                                                                </form>
                                                            </div>

                                                            </div> 




                                                            <script th:src="@{/js/plugin.js}"></script>
                                                            <script th:src="@{/js/lightbox.js}"></script>
                                                            <script th:src="@{/js/scripts.js}"></script>
                                                            </body>

                                                            </html>