
 <security:intercept-url pattern="/css/**" access="permitAll" />
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kassos-Net | TP DE POO</title>

    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/feather.css}">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}"> 
   <link rel="stylesheet" th:href="@{/css/profile-style/style.css}">


</head>

<body class="color-theme-blue">

    <div class="preloader"></div>

    <div class="main-wrap">

        <div class="nav-header bg-transparent shadow-none border-0">
            <div class="nav-top w-100">
                <a href="index.html"><i class="feather-zap text-success display1-size me-2 ms-0"></i><span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">Kassos. </span> </a>
                <a href="#" class="mob-menu ms-auto me-2 chat-active-btn"><i class="feather-message-circle text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <a href="default-video.html" class="mob-menu me-2"><i class="feather-video text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <a href="#" class="me-2 menu-search-icon mob-menu"><i class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
                <button class="nav-menu me-0 ms-2"></button>

            </div>
            
            
        </div>

        <div class="row">
            <div class="col-xl-5 d-none d-xl-block p-0 vh-100 bg-image-cover bg-no-repeat" style="background-image: url(images/login-bg-2.jpg);"></div>
            <div class="col-xl-7 vh-100 align-items-center d-flex bg-white rounded-3 overflow-hidden" style="z-index: 10000">
                <div class="card shadow-none border-0 ms-auto me-auto login-card">
                   
                    <div class="card-body rounded-0 text-left">
                        <h2 class="fw-700 display1-size display2-md-size mb-4">Creez Votre Compte <br>Sur  <span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">Kassos. </span></h2>                        
                        <form id="RegisterForm" method='post' th:object="${Utilisateur}" enctype="multipart/form-data">
                            
                            <div class="form-group icon-input mb-3">
                                <i class="font-sm ti-user text-grey-500 pe-0"></i>
                                <input name="nom" type="text" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600" th:field="*{nom}" placeholder="Votre Nom" required>                        
                            </div>
                            <div class="form-group icon-input mb-3">
                                <i class="font-sm ti-email text-grey-500 pe-0"></i>
                                <input name="email" type="email" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600" th:field="*{email}" placeholder="Votre Adresse Mail" required>                        
                            </div>
                            <div class="form-group icon-input mb-3">
                                <input name="password" type="Password" class="style2-input ps-5 form-control text-grey-900 font-xss ls-3" id='pw' th:field="*{password}" placeholder="Password" required>
                                <i class="font-sm ti-lock text-grey-500 pe-0"></i>
                            </div>
                            <div class="form-group icon-input mb-1">
                                <input type="Password" class="style2-input ps-5 form-control text-grey-900 font-xss ls-3" id='pwc' placeholder="Confirm Password" required>
                                <i class="font-sm ti-lock text-grey-500 pe-0"></i>
                            </div>

                            <div class="form-group icon-input mb-1">
                                <!-- partial:index.partial.html -->
                                <div class="profile-pic">
                                    <label class="-label" for="file">
                                        <span class="glyphicon glyphicon-camera"></span>
                                        <span>Photo de Profile</span>
                                    </label>
                                    <input id="file" name="photoUser" type="file"  accept="image/*" onchange="loadFile(event)" required/>
                                    <img th:src="@{/images/profile.png}" id="output" width="200" />
                                </div>
                            </div>
                            <!-- partial -->
                            <div class="form-check text-left mb-3">
                                <input type="checkbox" class="form-check-input mt-2" id="exampleCheck2" required>
                                <label class="form-check-label font-xsss text-grey-500" for="exampleCheck2">Acceptez Nos Conditions</label>
                                <!-- <a href="#" class="fw-600 font-xsss text-grey-700 mt-1 float-right">Forgot your Password?</a> -->
                            </div>
                            <div class="form-check text-left mb-3">
                                <input type="checkbox" class="form-check-input mt-2" id="remember-me" name="remember-me">
                                <label class="form-check-label font-xsss text-grey-500" for="remember-me">Se souvenir de moi</label>
                                <!-- <a href="#" class="fw-600 font-xsss text-grey-700 mt-1 float-right">Forgot your Password?</a> -->
                            </div>
                            <button type="submit" hidden="true" id="RegisterBtn">Soumettre </button>
                        </form>
                         <script>
                                
                                function soumettre(){
                                    formulaire=document.getElementById("RegisterBtn");
                                    cbox=document.getElementById("exampleCheck2");
                                    pw=document.getElementById("pw");
                                    pwc=document.getElementById("pwc");
                                    if (pw.value==pwc.value){
                                        if(cbox.checked){
                                            formulaire.click();
                                        }
                                        else{
                                            alert("Vous N'avez Pas accepte nos Conditions !");
                                        }
                                        
                                    }
                                    else{
                                        alert("les mots de passe ne correspondent pas !");
                                    }
                                    
                                }
                         </script>
                        <div class="col-sm-12 p-0 text-left">
                            <div class="form-group mb-1"><a href="#" class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0 " onclick="soumettre()">S'enregistrer</a></div>
                            <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">J'ai deja un compte  <a href="/Connection" class="fw-700 ms-1">Se connecter</a></h6>
                        </div>
                         
                    </div>
                </div> 
            </div>
        </div>
    </div>

    

    <script th:src="@{/js/plugin.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/profile-script/script.js}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>

</html>